

.nav-item {
    display: inline-block;
    position: relative;
}

.popup-menu > ul {
    list-style-type: none;
}


.popup-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nav-item:hover .popup-menu {
    display: block;
    animation: fadeInAnimation 0.1s ease-in-out forwards;
}

.popup-menu a {
    color: black;
    padding: 20px 16px;
    margin: auto;
    text-decoration: none;
    display: block;
}

.popup-menu a:hover {
    background-color: #0d6efd;
    color: white;
}

/* Keyframes */

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-pill {
    background-color: #4009f7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.button-pill:hover {
    background-color: #3b00fc56;
    color: rgb(255, 255, 255);
    outline: 2px solid #f5f5f5;

}

.cover-container {
    max-width: 42em;
}

.circle {
    width: 100px;
    height: 100px;
    padding: 25px 5px;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(circle,#3498db, #8E54E9);
    border: 2px solid #0c0e8b;
}

.section-height {
    margin-top: 200px;
}

.footer-height {
    margin-top: 300px;
}

.feature-divider {
    margin: 5rem 0;
}

.featurette-heading {
    letter-spacing: -.05rem;
}

.feature-height {
    margin-top: 390px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.section {
    margin-bottom: 500px;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color:rgb(214, 205, 205);
}

.active {
    background-color: #0d6efd;
    border-radius: 5px;
}