
.nav-item {
    display: inline-block;
    position: relative;
}

.popup-menu > ul {
    list-style-type: none;
}


.popup-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nav-item:hover .popup-menu {
    display: block;
    animation: fadeInAnimation 0.1s ease-in-out forwards;
}

.popup-menu a {
    color: black;
    padding: 20px 16px;
    margin: auto;
    text-decoration: none;
    display: block;
}

.popup-menu a:hover {
    background-color: #16102956;
    color: white;
}

/* Keyframes */

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-pill {
    background-color: #161029;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.button-pill:hover {
    background-color: #23155356;
    color: purple;
    outline: 2px solid #161029;

}