{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0">
    <!-- Fullscreen cover -->
    <div class="vh-100 d-flex align-items-center justify-content-center text-center bg-dark text-white"
        style="background-image: url('your-image-url.jpg'); background-size: cover; background-position: center;">
        <main class="px-3 cover-container">
            <h1>Welcome to bytesize interactive</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, molestiae! Deserunt esse iusto culpa illum omnis, qui ab molestias corporis voluptatem cum magnam. Rerum laudantium aut porro necessitatibus, earum dolorum.</p>
            <!-- <a href="#learn-more" class="btn btn-primary btn-lg">Learn More</a> -->
            <a href="" class="button-pill">
                Learn More
            </a>
        </main>
    </div>
</div>
{% endblock content %}